body
{
    font-family: 'Red Hat Display', sans-serif;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

.navbar
{
    width: 1000px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.logoTop
{
    position: absolute;
    top: 50px;
}

.logoTop img
{
    height: 25px;
}

.options
{
    list-style-type: none;
    text-align: right;
}

#option1
{
    margin-right: 5px;
    padding: 10px;
    display: inline-block;
    color: hsl(224, 23%, 55%);
}

#option2
{
    margin-right: 10px;
    padding: 10px;
    display: inline-block;
    color: hsl(224, 23%, 55%);
}

#option3
{
    margin-right: 10px;
    padding: 10px;
    display: inline-block;
    color: hsl(224, 23%, 55%);
}

#option4
{
    padding: 15px;
    display: inline-block;
    background-color: rgb(255, 180, 17);
    font-weight: 700;
    border-radius: 5px;
}

.myNews
{
    width: 1000px;
}

.picture
{
    display: inline-block;
    margin-right: 50px;
}

.picture img
{
    width: 350px;
    height: 230px;
    border-radius: 5px;
}

.news
{
    display: inline-block;
    width: 550px;
}

.headline
{
    font-size: 30px;
    margin: 0 auto;
    text-align: justify;
}

.headline2
{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0;
}

.myNewsText
{
    color:hsl(224, 23%, 55%);
    font-size: 16px;
    margin-top: 10px;
}

.signature
{
    width: 550px;
    margin-top: 30px;
}

.avatar
{
    display: inline-block;
    margin-right: 15px;
}

.avatar img
{
    height: 50px;
    width: 50px;
}

.personalDetails
{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    position: absolute;
    top: 298px;
}

.personalDetails2
{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    position: absolute;
    top: 785px;
}

.worker
{
    font-weight: 700;
    font-size: 14px;
    text-align: left;
}

.worksplace
{
    color:hsl(224, 23%, 55%);
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

.oderNews
{
    width: 1000px;
    margin-top: 50px;
}

.News
{
    display: inline-block;
    margin-right: 30px;
    width: 300px;
    margin-top: 20px;
}

.image img
{
    width: 300px;
    height: 170px;
}

footer
{
    margin-top: 50px;
    width: 1000px;
}

.logoBottom
{
    position: absolute;
    top: 935px;
}

.logoBottom img
{
    height: 25px;
}

#footerDescription
{
    text-align: right;
    color:hsl(224, 23%, 55%);
    font-size: 14px;
    padding: 20px;
}